.pokemons-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(96px, 1fr));
  width: 480px;
  padding: 0;
  justify-content: center;
}

@media (max-width: 720px) {
  .pokemons-list {
    width: 288px;
  }
}

@media (min-width: 1920px) {
  .pokemons-list {
    grid-template-columns: repeat(auto-fill, minmax(192px, 1fr));
    width: 960px;
  }
}

.pokemons-list-pokemon {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.pokemons-list-pokemon-image {
  max-width: 100%;
  height: auto;
}