.search-container {
  display: inline-block;
  width: 220px;
  padding-top: 0.5rem;
  position: relative;
}

.search-container-input {
  background-color: #323342;
  border-radius: 20px;
  border: 1px solid grey;
  width: 100%;
  padding: 0.75rem 1rem;
}

.search-container-options {
  position: absolute;
  top: 55px;
  left: 0;
  max-height: 230px;
  width: inherit;
  padding: 0;
  visibility: hidden;
}

.visible {
  visibility: visible;
}

@media (min-width: 720px) {
  .search-container {
    width: 420px;
  }
}

@media (min-width: 1280px) {
  .search-container {
    width: 500px;
  }
}
