#root {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  width: 100%;
}

.page-main {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  gap: 16px;
  width: 100%;
}

.page-header {
  padding: 1rem;
}

.page-footer {
  padding: 1.25rem 1.5rem;
  width: 100%;
  text-align: left;
  background-color: rgba(255, 255, 255, 0.3);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}
